.side-contents
  .header
    .header__user
      .header__user__left
        .header__user__left__name
          Gassy
        .header__user__left__introduction
          Hello programing
      .header__user__right
        .header__user__right__img
          Pict
        .header__user__right__edit__icons
          = link_to "#", class: "header__user__right__edit" do
            = icon('fas', 'cog',class: "header__user__right__edit__btn") 
        .header__user__right__write__icons
          = link_to "#", class: "header__user__right__write" do
            = icon('fas', 'edit',class: "header__user__right__write__btn") 
  .main
    .main__user-blogs
      .main__user-blogs__title
        令和2年の目標
      .main__user-blogs__created_at
        2020/01/01
    .main__user-blogs2
      .main__user-blogs2__title
        令和2年の目標
      .main__user-blogs2__created_at
        2020/01/01