.chat
  .chat__messages
    .chat__messages__message
      .chat__messages__message__user-info
        .chat__messages__message__user-info__name
          Gassy
        .chat__messages__message__user-info__created_at
          send at 1/9
      .chat__messages__message__text
        hello!
        %br
        it's nice!!
        %br
        so nice!!
    -# あとで削除する
    .chat__messages__message2
      .chat__messages__message2__user-info
        .chat__messages__message2__user-info__name
          Gagassy
        .chat__messages__message2__user-info__created_at
          send at 1/10
      .chat__messages__message2__text
        I think so!

  .chat__form
    .chat__form__input_box
    .chat__form__submit
      Send