$aliceblue:aliceblue;
$lavender: lavender;
$royalblue: royalblue;
$darkblue: darkblue;
$azure: azure;
$geppaku:#eaf4fc;
$shirosumire: #eaedf7;
$tekkon: #17184b;
$koiai: #0f2350;
$unohana:#f7fcfc;
$kon: #223a70;
$konpeki:#007bbb;
$youkan: #383c3c;